<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li>
                <a routerLink="/alfabeto" [routerLinkActive]="['active']">Alfabeto</a>
            </li>
            <li>
                <a routerLink="/numeros" [routerLinkActive]="['active']">Números</a>
            </li>
            <li>
                <a routerLink="/verbos" [routerLinkActive]="['active']">Verbos</a>
            </li>
            <li>
                <a routerLink="/top3000" [routerLinkActive]="['active']">Top3000</a>
            </li>
            <li>
                <a routerLink="/aprendidas" [routerLinkActive]="['active'] " >Aprendidas</a>
            </li>

        </ul>
    </nav>
</header>