<h1>Verbos ({{verbos.length}})</h1>
<table style="width:100%">
    <caption></caption>
    <tr>

        <th>Reproduzir</th>
        <th>imagem</th>
        <th>Verbo</th>
        <th>Tradução</th>
        <!-- <th>Visibilidade</th>-->
        <th>Ações</th>
    </tr>
    <tr *ngFor="let item of verbos; let i = index">


        <td>
            <div class="audio-container">
                <img src="./assets/img/verbo/{{item.ingles}}.png" alt="Botão de Áudio" id="audio-button" />
                <audio id="audio" class="meu-audio" preload="auto">
                    <source src="./assets/audio/verbo/{{item.ingles}}.mp3" type="audio/mp3" />
                </audio>
            </div>
        </td>

        <td><label>

        <td>
            <img src="./assets/img/verbo/{{item.ingles}}.png" alt="{{item.ingles}}" title="{{item.ingles}}" width="64" class="ilustracao"
                onerror="this.src='./assets/img/verbo/em-breve.png'">
        </td>

        </label></td>

        <td><label> {{item.ingles}}</label></td>
        <td><button class="botao-moderno" *ngIf=!item.mostrar (click)="item.mostrar=!item.mostrar"><img
                    src="./assets/img/mostrar.png" width="15"></button>
            <label *ngIf=!item.mostrar> *** </label>
            <label *ngIf=item.mostrar> {{item.portugues}} </label>
        </td>
        <!-- <td>{{item.visibilidade}}</td>-->
        <td> <button class="botao-moderno" (click)="memorizada(i)"> <img src="./assets/img/like.png"
                    width="15"> </button>
        </td>
        <!-- Adicionar audio de forma dinamica -->

    </tr>
</table>