<table style="width:100%">
    <caption></caption>
    <tr>
        <th>Id</th>
        <th>Reproduzir</th>
        <th>Verbo</th>
        <th>Tradução</th>
        <!-- <th>Visibilidade</th>-->
        <th>Ações</th>
    </tr>
    <tr *ngFor="let item of wordList; let i = index">
        <td>{{i+1}}</td>
     
        <td>
            <audio class="meu-audio"  controls="controls" controlsList="nospellcheck noduration nodirectionality noseekforward noseekback noremoteplayback nofullscreen ">
                <source  src='../../../assets/audio/top3000/{{item.ingles}}.mp3' type="audio/mp3" />
             
            </audio>
        </td>

        <td> {{item.ingles}}</td>
        <td><button *ngIf=!item.mostrar (click)="item.mostrar=!item.mostrar"><img src="../../../assets/img/mostrar.png"
                    width="15"></button>
            <label *ngIf=!item.mostrar> *** </label>
            <label *ngIf=item.mostrar> {{item.portugues}} </label>
        </td>
        <!-- <td>{{item.visibilidade}}</td>-->
        <td> <button (click)="memorizada(i)"> <img src="../../../assets/img/coracao.png" width="10"> memorizada</button>
        </td>
        <!-- Adicionar audio de forma dinamica -->

    </tr>
</table>