/* You can add global styles to this file, and also import other style files */
body{
    width: 90%;
    padding: 1% 5%;
}

h1 {
    text-align: center;
}
label{
    font-size: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

caption {

    background-color: #9fada8;
    color: #fff;

}

table {
    border-collapse: collapse;
    margin: auto;
}

th {
    background-color: #0f1e23;
    color: #6acd65;
    font-size: 22px;
}

th,
td {
    padding: 10px;
    text-align: center;
    width: 120px;
    border: none;
}

th {
    font-weight: bold;
}


tr:nth-child(even) {
    background-color: #dfe9e6;
}

tr:hover:nth-child(1n + 2) {
    background-color: #41606b;
    color: #fff;
}

//-------------------------------------------------------------------
//Menu Audio

.meu-audio{
    width: 100px;
    height: 35px;
}
.meu-audio::-webkit-media-controls-current-time-display,
.meu-audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

.meu-audio::-webkit-media-controls-timeline {
    display: none;
}

.meu-audio::-moz-range-track {
    display: none;
}

.meu-audio::-ms-track {
    display: none;
}

.meu-audio::-webkit-slider-runnable-track {
    display: none;
}

.meu-audio::-webkit-media-controls-volume-slider {
    display: none;
}

.meu-audio::-moz-range-track {
    display: none;
}

.meu-audio::-ms-track {
    display: none;
}


//-------------------------------------------------------------------

/* Estilo padrão do botão */
.botao-moderno {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #7c939b;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo do botão ao passar o mouse */
  .botao-moderno:hover {
    background-color: #0056b3;
  }
  
  /* Estilo do botão ao ser clicado */
  .botao-moderno:active {
    background-color: #003e80;
  }